   body {
      margin: 0;
      background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
      font-family: Arial, sans-serif;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
   

    .container {
      background-color: #fff;
      padding: 40px;
      border-radius: 12px;
      margin: 20px;
      text-align: center;
      width: 300px;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    }

    label {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
      color: #333;
    }

    select {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: #54C1FF;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

    .infoRuta {
      margin-top: 15px;
      font-size: 16px;
      color: #333;
    }

    .btn-continuar {
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #54C1FF;
      color: white;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn-continuar:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }